body{
    margin: 0;
}
.btn{
    background-color: rgb(83, 83, 83);
    border-radius: 1px;
    width: 30px;
    height: 30px;
    padding: 8px 15px;
    position: relative;
    left: 354px;
    bottom: 46px;
}
.pesquisa{
    width: 400px;
    height: 200px;
    margin: 200px auto;
}
#texto{
    width: 350px;
    height: 40px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
footer {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
}
nav{
        height: 70px;
        background-color: #000;
        z-index: 0;
        width: 100%;
        
    }
    
    a{
        text-decoration: none;
        list-style-type: none;
        color: white;
    }
    
    nav ul{
        float: right;
        font-size: 15px;
        padding-right: 140px;
        padding-top: 26px;
    }
    
    nav ul li{
        float: left;
        list-style-type: none; 
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
        
    }
    .logo{
        width: 170px;
        height: 70px;
        margin-top: 0px;
        margin-left: 50px;
    }